<div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                   
                    <p class="lead">        
 
<form action="/create_review" method="post">
      
        <h1></h1>
        
        <fieldset>
          
          <p class="lead">Think of an awesome super-duper epic title.</p>
          <input type="text" id="title" name="title" placeholder="Title."/>
        </br>
          </br>
              <p class="lead">The review better not be a stale monotone piece of crap.</p>
        
          <textarea rows="10" cols="75" id="content" name="content">


          </textarea>
         
        
        </fieldset>
        <input value="Publish it !" type="submit"/>
</form>


</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/ipad.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->